.tabs {
    position: relative;
    padding: 0;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.tabs li {
    list-style: none;
    display: inline-block;
}
.tabs input[type=radio] {
    display: none;
}
.tabs label {
    display: block;
    cursor: pointer;
    padding: 5px;
    line-height: 20px;
    background-color: #999999;
    color: #ffffff;
}
.tabs label:hover {
    background-color: #cccccc;
    color: #000000;
}
.tabs input[type=radio]:checked + label {
    background-color: #ffffff;
    color: #000000;
}
.tabs .contents {
    display: none;
    position: absolute;
    top:30px;
    padding: 10px;
    background: #305768;
}

.contents{
  max-height: 800px;
  left: 0;
  right: 0;
  margin: auto;
  overflow: auto;
}

.tabs p{
  color: #000000;
  text-align: left;
}

.tabs input[type=radio]:checked + label + .contents{
  display: block;
}

.back-link a{
  color: #FFFFFF;
  margin-right: auto;
  margin-left: 8%;
}

#tail-string p{
  margin: 10px;
  background: #CCC;
}
